<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ARGAPI</title>
    <meta name="author" content="Corry McConnell Palmer">
    <meta name="description" content="ARGAPI (pronounced argh-app-ee): an API for managing ARG campaign resources">
    <link rel="icon" href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAC0lEQVQIW2NgAAIAAAUAAR4f7BQAAAAASUVORK5CYII=">
</head>

<body bgcolor="e1e1e1" text="1e1e1e" style="max-width:800px;margin:auto">
    <header>
        <h1>Find</h1>
    </header>

    <main>
        <p>Find Alternate Reality Games by theme and whether it is ongoing or concluded</p>

        <h2>Possible searches:</h2>

        <ol>
            <li>List themes: <mark><a href="./theme">/find/theme</a></mark></li>
            <li>All ongoing: <mark><a href="./ongoing">/find/ongoing</a></mark></li>
            <li>All ended: <mark><a href="./concluded">/find/concluded</a></mark></li>
            <li>By theme: <mark>/find/{theme}(accepts ID or name)</mark></li>
            <li>Ongoing by theme: <mark>/find/ongoing/{theme}</mark></li>
            <li>Concluded by theme: <mark>/find/concluded/{theme}</mark></li>
        </ol>
    </main>

    <footer>
        <p>
            ARGAPI is a school project by Corry McConnell Palmer.
            No garentee is given of the service remaining online or functional.
        </p>
        <p>&copy;2025 | Corry McConnell Palmer</p>
    </footer>
</body>

</html>